.banner {
    height: 481px;

    background-image: url(./images/psg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.bg-ultimate-black {
    background-color: black;
}

body {
    background: linear-gradient(to right, #000000, #002642);
    font-family: 'Raleway', sans-serif;
}

.text-orange {
    color: rgb(226, 102, 0);
}