.banner {
    width: 100vw;
    height: 481px;

    background-image: url(./images/psg.jpg);
    background-size: cover;

    background-color: rgb(0, 0, 0);
}

.bg-ultimate-black {
    background-color: black;
}

body {
    background: linear-gradient(to right, #000000, #002642);
    font-family: 'Raleway', sans-serif;
}